<div id="aboutUs" class="row">
    <div class="col-lg-12 text-center">
        <h2>{{abtUs.abtusHeader}}</h2>
        <hr class="star-light">
    </div>
    <div class="col-lg-12">
        <p>{{abtUs.abtP1}}</p>
    </div>
    <div class="col-lg-12">
        <p>{{abtUs.abtP2}}</p>
    </div>
    <div class="col-lg-12">
        <p style="font:italic bolder">{{abtUs.abtP3}}</p>
    </div>
    <div class="col-lg-12">
        <p>{{abtUs.abtP4}}</p>
    </div>
    <div class="col-lg-12">
        <p>{{abtUs.abtP5}}</p>
    </div>
    <div class="col-lg-12">
        <p style="font:italic bolder">{{abtUs.abtP6}}</p>
    </div>
    <div class="col-lg-12">
        <p>{{abtUs.abtP7}}</p>
    </div>
    <div class="col-lg-12">
        <p>{{abtUs.abtP8}}</p>
    </div>
    <div class="col-lg-12">
        <p style="font:italic bolder">{{abtUs.abtP9}}</p>
    </div>

