<!DOCTYPE html>
<html lang="en">

<head>
  <link href="boostrap.min.css" rel="stylesheet">
    
</head>

<body>

    <div class="container">
            
           <div class="col-md-8">
           <h4>HR Services</h4>
                <ul>
                    <li>
                    ADA-Compliant Job Descriptions & Linked Performance Appraisals
                    </li>
                    <li>
                        Program and Policy Development
                    </li>
                    <li>
                        On-Site Support for Employee Relations                        
                    </li>
                    <li>
                        Preparation/Attendance to Unemployment Claims Hearings
                    </li>
                    <li>
                        Sexual Harassment Investigations                        
                    </li>
                    <li>
                        Spanish Supplement for Employee Handbook                        
                    </li>
                    <li>
                        Spanish Translation                        
                    </li>
                </ul>
           </div>

            <div class="col-md-8">
           <h4>Training & Development</h4>
                <ul>
                    <li>
                    Respectful Workplace Series -
                   <ul>
                <li>
                    Sexual Harassment
                </li>
                <li>
                    Diversity
                </li>
                <li>
                    Ethics
                </li>
                   </ul>    
              
                </li>
                    <li>
                        Management Coaching
                    </li>
                    <li>
                        Supervisor Training                     
                    </li>
                    <li>
                        Employee Training (also available in Spanish)
                    </li>
                    
                </ul>
           </div>

           <div class="col-md-8">
           <h4>Recruiting Services & Support</h4>
                <ul>
                    <li>
                        Contingency Search
                    </li>
                    <li>
                        Recruiting By-the-Hour                    
                    </li>
                    <li>
                        Interviewing Training
                    </li>
                </ul>
           </div>

           <div class="col-md-8">
           <h4>Safety & Workers’ Compensation Services</h4>
                <ul>
                    <li>
                        Workers’ Compensation Claims Management
                    </li>
                    <li>
                    Company Safety Program -
                   <ul>
                <li>
                    Injury/Illness Prevention Program (IIPP)
                </li>
                <li>
                    Safety Payroll Stuffers (also in Spanish)
                </li>
                <li>
                    Toolbox Topics Training Manual
                </li>
                <li>
                    Set-Up of Safety Committee (for Employers with 10+ employees)
                </li>
                <li>
                    Industrial Clinic Protocol Set-Up
                </li>
                   </ul> 
                </ul>
           </div>

                 <div class="col-md-8">
           <h4>Compensation Plans & Design</h4>
                <ul>
                    <li>
                        Job Evaluations
                    </li>
                    <li>
                        Market Wage Data/Salary Surveys                   
                    </li>
                    <li>
                        Program Development
                    </li>
                    <li>
                        Salary Administration Manual
                    </li>
                    <li>
                        Management Training
                    </li>
                </ul>
           </div>
          

        </div>        
  
</body>

</html>