<!DOCTYPE html>
<html lang="en">

<head>
  <link href="boostrap.min.css" rel="stylesheet">
    
</head>

<body>

    <div class="container">
            
           <div class="col-md-8">
           <h4>Employee Handbook</h4>
                <p>
                    Our Employee Handbook has been legally reviewed and is current with all major employment laws and regulations, saving you thousands of dollars over the cost of having an attorney prepare your handbook. 
                </p>
                <br>
           </div>

           <div class="col-md-8">
               <ul>
                   <li>Compliance-Only Format
                   </li>
                   <p>
                       We provide you with an Employee Handbook that includes the major laws and regulations you are responsible for, based on your company size. Your handbook includes a summary page of the benefits and programs provided to your employees. (Recommended for Employers with less than 10 employees).

                   </p>
                   <li>
                       Fully Customized Format 
                       </li>
                   <p>
                       Designed for your business, the handbook incorporates general guidelines, rules, standards, practices, policy violation procedures, benefits, vacation policies, and more. HR NETwork will customize our standardized format to the uniqueness of your organizational practices, detailing the benefits, programs, and practices of your company. (Recommended for Employers with 10/more employees).
                </p>
               </ul>
           </div>
          

        </div>        
  
</body>

</html>