<!DOCTYPE html>
<html lang="en">

<head>
  <link href="boostrap.min.css" rel="stylesheet">
    
</head>

<body>

    <div class="container">
            
           <div class="col-md-8">
           <h4>Employee Hotline</h4>
                <p>
                    The HR Hotline is a toll-free number where employees can call to speak anonymously, or in confidence, with a trained HR NETwork representative. A written report of each call is sent to you, giving you the opportunity to take swift and appropriate action toward resolving the problem. A hotline service provides several major benefits to the employer:
                </p>
                <br>
           </div>

           <div class="col-md-8">
               <ul>
                   <li>A tool that gives you the ability to hear the concerns of your employee who might otherwise be too intimidated or inhibited from raising a genuine and legitimate workplace issue.
                   </li>
                   <li>
                       The hotline provides a place for employees to vent, a neutral 3rd party other than an attorney who might otherwise encourage a lawsuit
                   </li>
                   <li>
                       The hotline may be used as a defense mechanism. Recently, two employers both prevailed in lawsuits brought against them by prior employees based on the fact that a hotline service was provided to these employees, but not utilized.
                   </li>
               </ul>
           </div>
          

        </div>        
  
</body>

</html>