

    <div class="container">
        <div class="row col-md-8">
            <p>HR NETwork becomes your virtual Human Resource Department, offering expert guidance for day-to-day inquiries on employment related matters. Your HR Advisor package includes: 
            </p>
        </div>
            
           <div class="col-md-8">
            <div class="col-md-4">
                <p>
                 <ul>
                     <li>
                         HR Compliance Audit
                     </li>
                     <li>
                         Employee Handbook
                     </li>
                     <li>
                         HR Hotline
                     </li>
                     <li>
                         Telephone & Email Support
                     </li>
                     <li>
                         Compliance Research & Review
                     </li>
                     <li>
                         Personnel File and I-9 Audit
                     </li>
                     <li>
                         Client Alerts
                     </li>
                     
                 </ul>   
                    </p>
                <br>
            </div>

                  <div class="col-md-5">
                <p>
                 <ul>
                     <li>
                         Project & Documentation Development
                     </li>
                     <li>
                        Unemployment Claims Processing 
                     </li>
                     <li>
                         The Employer's Pack Forms CD
                     </li>
                     <li>
                         Employment Application
                     </li>
                     <li>
                         New Hire & Termination documents
                     </li>
                     <li>
                         Business Compliance Training
                     </li>
                     <li>
                         Legal Postings/Posters
                     </li>
                     
                 </ul>   
                    </p>
                <br>
            </div>
           </div>
          

        </div>        
  
