<!DOCTYPE html>
<html lang="en">

<head>
  <link href="boostrap.min.css" rel="stylesheet">
    
</head>

<body>

    <div class="container">
        <div class="row col-md-8">
            <p>HR NETwork becomes your virtual Human Resource Department, offering expert guidance for day-to-day inquiries on employment related matters. Your HR Advisor package includes: 
            </p>
        </div>
            
           <div class="col-md-8">
           <h4>HR Audit Compliance</h4>
                <p>HR NETwork will come on-site to conduct a comprehensive assessment and audit, reviewing all areas of HR compliance required of employers including: employee file set up, compliance and maintenance; procedures and policies for employee issues; affirmative action plan; safety plan; wage and hour compliance; hiring and termination practices; payroll procedure; required postings; etc.... After the audit, you will receive a full report highlighting areas of concern regarding compliance issues with an analysis and recommendations, as well as a timeline of proposed changes.
                 
                    </p>
                <br>
         

           </div>
          

        </div>        
  
</body>

</html>