<!DOCTYPE html>
<html lang="en">

<head>
  <link href="boostrap.min.css" rel="stylesheet">
    
</head>

<body>

    <div class="container">
        <div class="col-md-4">
            <h4>Complete HR Outsourcing</h4>
            <p>With HR Department, we will manage your HR function, including all associated vendors. HR NETwork 
becomes your employees’ HR administrator to contact for any/all issues, whether a benefit claim,
problem on a paycheck, change in deductions, etc.</p>
        </div>
  

       <div class="col-md-4">
            <h4>We’re your virtual “one-stop HR shop”.</h4>
            <p>Outsourcing the administration of your human resources functions gives you immediate access
to a team of HR, Safety, Workers’ Comp experts. You are assigned your own HR team including an 
HR Director, a Safety Specialist and HR Coordinator for less than the cost of an HR Clerk! Our services 
will enable your key personnel to shift its focus from an administrative role to a proactive one that will 
help contribute to your company’s success.</p>
        </div>

        <div class="row">
            <img src="2013HRNETworkServicesSheet09-13.png">
        </div>
  

     <div class="col-md-4">
            <h3>What else do I get with HR Department?</h3>
            <h4>HR Vendor Managment</h4>
            <ul>
                <li>Employee Health & Welfare Benefits</li>
                <li>Workers’ Compensation Insurance</li>
                <li>Payroll Processing Provider</li>
                <li>HR Services and Support</li>
                <li>401(k) Plan & Financial Services Planning</li>
                <li>Supplemental Insurances</li>
                <li>Legal Services</li>
                <li>And more…</li>

            </ul>
        </div>


        <div class="col-md-4">
            <h3>HR Administration</h3>
            <h4>All-inclusive day-to-day HR administrative services, including:</h4>
            <ul>
                <li>Maintaining Employee Personnel Files</li>
                <li>On Boarding - New Hire Processing & Orientation</li>
                <li>All Personnel Action Changes & Documentation</li>
                <li>Unemployment Claims Management</li>
                <li>Workers Comp Claims Management</li>
                <li>Conducting Terminations, Exit Interview, and Termination Documentation</li>
                <li>Benefit claims issues</li>
                <li>Annual Open Enrollment</li>
                <li>Paycheck problems</li>
                <li>And so much more</li>

            </ul>
        </div>
    </div>
 

</body>

</html>