<!DOCTYPE html>
<html lang="en">

<head>
  <link href="boostrap.min.css" rel="stylesheet">
    
</head>

<body>

    <div class="container">
            
           <div class="col-md-8">
           <h4>Job Descriptions & Linked Performance Appraisals</h4>
                <p>HR NETwork will develop and provide you with a set of job descriptions for all current positions. Job descriptions contain the purpose, description of essential duties and tasks, education, experience, skill requirements, and analysis of physical demands for each position (ADA certified). A linked Performance Appraisal is provided with each job description.
                    
                </p>
                <br>
         

           </div>
          

        </div>        
  
</body>

</html>