<!DOCTYPE html>
<html lang="en">

<head>
  <link href="boostrap.min.css" rel="stylesheet">
    
</head>

<body>

    <div class="container">
            
           <div class="col-md-8">
           <h4>Project or On-Site Consulting</h4>
                <p>The professional staff of HR NETwork is available on an hourly consulting basis to offer their expertise and assistance to deal with employee concerns and issues, develop programs, set up internal processes, or develop company policies and procedures. Our rates are significantly lower than the "big" consulting firms.  
                </p>
                <br>
         

           </div>
          

        </div>        
  
</body>

</html>