<!DOCTYPE html>
<html lang="en">

<head>
  <link href="boostrap.min.css" rel="stylesheet">

  <style>
    p.custom{
        padding:2pt;
    }
    </style>
    
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="col-md-3">
                <p>
                 <ul>
                     <li>
                         HR Advisor Package
                     </li>
                     <li>
                         HR Department
                     </li>
                     <li>
                         HR Audit
                     </li>
                     <li>
                         Employee Handbook
                     </li>
                     <li>
                         Job Descriptions & Linked Performance Appraisals
                     </li>
                     <li>
                         Employee Hotline
                     </li>
                     <li>
                         Project or Onsite Consulting
                     </li>
                     <li>
                         Additional HR Services
                     </li>
                 </ul>   
                    </p>
                <br>
            </div>

            <div class="col-md-9" style="background-color: brown">
               
            </div>
        </div>
          

        </div>        
  </div>
</body>

</html>